@font-face {
	font-family:'robotoregular';
	src:url(../fonts/Roboto-Regular.ttf); 
}

@font-face {
	font-family:'robotolight';
	src:url(../fonts/Roboto-Light.ttf); 
}

@font-face {
	font-family:'robotothin';
	src:url(../fonts/Roboto-Thin.ttf); 
}

#categories {
	color: white;
}

#homeHeading {
	margin-bottom: 50px;
	font-family: 'robotothin', sans-serif;
	color: lightgrey;

}

.logotop {
	height: 25px;
	margin-left: 20%;
	margin-top: 5px;
	float:left;
}

#mainNav {
	/*padding-bottom: 15px;*/

	
}


header .header-content .header-content-inner h1 {
	text-transform: none;
	text-align: center;
}


	#mailchimp input {
		border: medium none;
    color: #a6a6a6;
    font-family: 'robotolight';
    font-size: 18px;
    margin-bottom: 10px;
   
    padding: 10px 10px;
    width: 300px;
    height: 54px;
	/*	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;*/
	}
		#mailchimp input.email { background: #fdfcfb }
		#mailchimp input.name { background: blue}
		#mailchimp input[type="submit"] {
			background: #FF9900;
			color: #fff;
			cursor: pointer;
			font-size: 18px;
			width: 150px;
			padding: 8px 0;

		}
			#mailchimp input[type="submit"]:hover { background: #ffad32 }

.button {
  height: 54px;
}

.clear{
	margin-right: 50%;
	text-align: center;
}


input:focus {
  outline: none;
  outline: 2px solid #FF9900;
}

.emailsupportt {
	margin-top: 35px;
}

.values {
	margin: 50px;
}

/*.emailsupport {
	margin-top: 30px;
}*/

.getnotified {
	margin-bottom: 60px;
	color: lightgrey;
}

.browsemarket {
	background: #323C47;
}

.browsetext {
	color: lightgrey;
}


.hireexpert {
	background: #FF9900;
}

.hiretext {
	color: #fff;
	/*padding-top: 16px;*/
}

.sitback {
	background: #fff;
}

.sitbacktext {
	color: #323C47;
}

.fontregular {
	font-family: 'robotoregular'
}

.fontlight {
	font-family: 'robotolight'
}

.fontthin {
	font-family: 'robotothin'
}

.sectionheader {
	margin-bottom: 40px;
	/*font-size: 2.5em;*/	
}

.fa-fighter-jet {
	font-size: 9em;
	padding-top: 80px;
}

.whitelogo {
	height: 3em;
}

.bigicon {
	margin-top: 100px;
	margin-bottom: 60px;
}

.headicons {
	height: 64px;
}

/*.project-name .fontlight {
	color: white;
}*/




@media (min-width: 768px) {

.navbar-nav>li>.page-scroll-nav{
	border: 1px solid rgba(255,255,255,0.3);
    border-radius: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;


}

.container-fluid>.navbar-header{
	margin-left: 133px;
	margin-right: 200px;
	

}


}

.navbar-right{
	margin-right: 100px;
	margin-top: 10px;

}

.btnservice{
	 border: 1px solid rgba(255,255,255,0.3);
    border-radius: 2em;
    width: 350px;
    padding: 2px;
    text-align: center;


}
 
.btn-primary {
border-radius: 4em;
    color: blue;
    font-size: .8em;
    font-weight: 800;
    letter-spacing: .17em;
    margin: 3.5em 0;
    padding: 1.5em 4.0em;
    background-color: #fff;

}
  .btn-primary:hover{
  	background-color: #ff9900;
  }

  .social{
  	color: lightgrey;
  	margin-left:30px;
  	/*margin-bottom: 80px;*/
  }

.footer {
	background-color:#323C47;
	color: lightgrey;
	padding: 40px;
}

.disclaim {
	color: lightgrey;
	font-size: 0.8em;
}

.facebooklink {
	display: none;
}
